TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
BUSQUEDA=mario kart nintendo switch
PRECIO_MAXIMO=25
CATEGORIA=24200
LATITUDE=43.2481
LONGITUDE=-2.9209
INTERVALO_SEGUNDOS=90
PLAYWRIGHT_HEADLESS=false
WALLAPOP_PROFILE_DIR=.wallapop_profile
